# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/merrimackchat_client/target/
/merrimackchat_server/target/
/merrimackchat_packet/build/
/merrimackchat_packet/dist/
/merrimackchat_packets/nbproject/
/merrimackchat_packets/target/
